### virtualenv ###
venv

### tempfile ###
*.log
*.pot
*.pyc
__pycahce__/
CACHE
.gitmessage.txt


### db ###
.env
.env.production
db.sqlite3
db.sqlite3-journal

### media & static ###
media
staticfiles

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
.idea

### C extensions ###
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test & pytest / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
pytest.xml
pytest-coverage.txt
.pytest_cache

### Log ###
logs/
